<!DOCTYPE html>
<html>
<head>
	<title>Blog Page</title>
	<link  rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div class= "container">
		<a href="/">Back to main page</a>
		<h1 class = "add">BLOG</h1>
		<div class = "blog">
			<table>
		  			<% for (let i = 0; i < title.length; i++) { %>
		          <tr>
								<td><%= title[i].id %></td>
								<td><%= title[i].title %></td>
							  <td><%= title[i].body %></td>
							</tr>
						<% } %>
		  		</table>
		</div>
		<a href="/form">Add a post here</a><br/>

	</div>
</body>
</html>
