<!DOCTYPE html>
<html>
<head>
	<title>Form Page</title>
	<link  rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

		<h1 class = "add">Add Post</h1>
		<div class = "blogform">
			<form method="post" action = "/blog">
				Title:
				<input name = "title" type = "text" placeholder="ENTER TITLE OF POST"/>
				<br/>
				Body:
				<textarea name = "message" placeholder="Enter post"></textarea>
				<br/>
				<button>SUBMIT</button>
			</form>
		</div>
<a href="http://localhost:3000/blog">Go to the blog</a>
</body>
</html>
