<!DOCTYPE html>
 <html>
  <head>
     <title>Donald's Personal Webpage</title>
     <link  rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <div id="wrapper">
          <div id="nav">
               <div id="logo">
                  <head><h1>DONALD TOFUAH</h1></head>
                  </div>

               <ul>
                  <li><a href="#about" class="active">About</a></li>
                  <!-- <li><a href="/blog">BLOG</a></li> -->
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#contact">Contact</a></li>

                  <!-- <li><a href="#">My Videos</a></li> -->
               </ul>
          </div>
      </div>



        <div class="main">

           <div id="showcase">
               <h1>Affordable Professional Web design.</h1>
                   <p>I am here to create what you dream website !
                     </p>
          </div>
        </div>


          <div id = "projects" class="grid">
            <div class= "row1">
              <div class="blue"><div class="pic1"></div></div>
              <div class="violet"><div class="pic2"></div></div>
            </div>

            <div class= "row2">
              <div class="red"><div class="pic3"></div></div>
              <div class="yellow"><div class="pic4"></div></div>
            </div>

         <div id= "contact">
          <div class="message">
            <h1 class = "add">SEND MESSAGE</h1>
        		<div class = "blogform">
        			<form>
        				Message Title:
        				<input name = "title" type = "text" placeholder="ENTER TITLE OF MESSAGE"/>
        				<br/>

        				<textarea name = "message" placeholder="Enter Message"></textarea>
        				<br/>
        				<button>SEND</button>
        			</form>
        		</div>
          </div>

         <div class="footer">
            <p>Donald Tofuah &copy; <?php echo @date("y"); ?> All Rights Reserved.</p>
         </div>



   </div>

  </body>
</html>
